<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with TexturePacker http://www.codeandweb.com/texturepacker-->
<!-- $TexturePacker:SmartUpdate:fe498fcf6ed314ee72bd4c2fdc685dd2:34053b08fb0dea6139646373497fcda2:f9c0b97075a152484ccb2493c700c41e$ -->
<Imageset Name="server" Imagefile="server.png" NativeHorzRes="1942" NativeVertRes="1469" AutoScaled="false">
    <Image Name="Character Select/bottom_border_effect" XPos="11" YPos="109" Width="1920" Height="52"/>
    <Image Name="Character Select/carving_inner" XPos="533" YPos="907" Width="318" Height="499"/>
    <Image Name="Character Select/char_fr_bg" XPos="1820" YPos="354" Width="57" Height="58"/>
    <Image Name="Character Select/char_info_bg" XPos="1560" YPos="1379" Width="193" Height="59"/>
    <Image Name="Character Select/char_select_block" XPos="935" YPos="183" Width="353" Height="646"/>
    <Image Name="Character Select/character_frame" XPos="1820" YPos="183" Width="69" Height="69"/>
    <Image Name="Character Select/chracter_example" XPos="573" YPos="183" Width="340" Height="702"/>
    <Image Name="Character Select/hover_highlight" XPos="1419" YPos="1177" Width="272" Height="79"/>
    <Image Name="Character Select/loginb_a" XPos="1657" YPos="1099" Width="199" Height="36"/>
    <Image Name="Character Select/loginb_h" XPos="1713" YPos="1219" Width="199" Height="36"/>
    <Image Name="Character Select/loginb_n" XPos="1335" YPos="1418" Width="203" Height="40"/>
    <Image Name="Character Select/loginb_un" XPos="1729" YPos="1277" Width="199" Height="36"/>
    <Image Name="Character Select/merged_whole_char" XPos="1310" YPos="183" Width="353" Height="646"/>
    <Image Name="Character Select/name_glow" XPos="873" YPos="1025" Width="540" Height="111"/>
    <Image Name="Character Select/portrait" XPos="1820" YPos="274" Width="59" Height="58"/>
    <Image Name="Character Select/Scroll/characrer_select_rail" XPos="1778" YPos="183" Width="20" Height="434"/>
    <Image Name="Character Select/Scroll/down_a" XPos="1391" YPos="1361" Width="22" Height="24"/>
    <Image Name="Character Select/Scroll/down_h" XPos="1902" YPos="965" Width="22" Height="24"/>
    <Image Name="Character Select/Scroll/down_n" XPos="1729" YPos="1335" Width="20" Height="22"/>
    <Image Name="Character Select/Scroll/moving_part_hd" XPos="1911" YPos="183" Width="20" Height="50"/>
    <Image Name="Character Select/Scroll/moving_part_n" XPos="873" YPos="907" Width="18" Height="48"/>
    <Image Name="Character Select/Scroll/up_a" XPos="757" YPos="1428" Width="22" Height="24"/>
    <Image Name="Character Select/Scroll/up_h" XPos="801" YPos="1428" Width="22" Height="24"/>
    <Image Name="Character Select/Scroll/up_n" XPos="1911" YPos="255" Width="20" Height="22"/>
    <Image Name="Character Select/selected_highlight" XPos="1435" YPos="1278" Width="272" Height="79"/>
    <Image Name="Character Select/smallb_a" XPos="1755" YPos="715" Width="146" Height="36"/>
    <Image Name="Character Select/smallb_h" XPos="1775" YPos="1335" Width="146" Height="36"/>
    <Image Name="Character Select/smallb_n" XPos="1713" YPos="1157" Width="150" Height="40"/>
    <Image Name="Character Select/smallb_un" XPos="1775" YPos="1393" Width="146" Height="36"/>
    <Image Name="Character Select/top_border_effect" XPos="11" YPos="11" Width="1920" Height="76"/>
    <Image Name="Character Select/wide_button_a" XPos="1685" YPos="847" Width="244" Height="37"/>
    <Image Name="Character Select/wide_button_h" XPos="1680" YPos="906" Width="244" Height="37"/>
    <Image Name="Character Select/wide_button_n" XPos="1657" YPos="1028" Width="256" Height="49"/>
    <Image Name="Server Select/b1_a" XPos="1820" YPos="434" Width="97" Height="32"/>
    <Image Name="Server Select/b1_frame" XPos="1685" YPos="773" Width="213" Height="52"/>
    <Image Name="Server Select/b1_h" XPos="1820" YPos="488" Width="97" Height="32"/>
    <Image Name="Server Select/b1_n" XPos="1820" YPos="542" Width="97" Height="32"/>
    <Image Name="Server Select/bottom_border_effect" XPos="11" YPos="109" Width="1920" Height="52"/>
    <Image Name="Server Select/bottom_texture" XPos="873" YPos="1279" Width="540" Height="60"/>
    <Image Name="Server Select/dd_a" XPos="1345" YPos="1361" Width="24" Height="24"/>
    <Image Name="Server Select/dd_drop_texture" XPos="1435" YPos="1025" Width="200" Height="130"/>
    <Image Name="Server Select/dd_h" XPos="711" YPos="1428" Width="24" Height="24"/>
    <Image Name="Server Select/dd_highlight" XPos="533" YPos="1428" Width="156" Height="28"/>
    <Image Name="Server Select/dd_n" XPos="1878" YPos="1099" Width="24" Height="24"/>
    <Image Name="Server Select/dd_scroll_hov" XPos="1724" YPos="719" Width="9" Height="29"/>
    <Image Name="Server Select/dd_scroll_norm" XPos="1778" YPos="639" Width="9" Height="29"/>
    <Image Name="Server Select/dd_scroll_rail" XPos="1647" YPos="851" Width="11" Height="107"/>
    <Image Name="Server Select/drop_down_texture" XPos="1680" YPos="965" Width="200" Height="41"/>
    <Image Name="Server Select/heading_texture" XPos="873" YPos="1158" Width="524" Height="99"/>
    <Image Name="Server Select/horizontal_divider" XPos="11" YPos="1455" Width="444" Height="1"/>
    <Image Name="Server Select/inner_holo" XPos="11" YPos="872" Width="500" Height="561"/>
    <Image Name="Server Select/left_border_texture" XPos="1685" YPos="183" Width="17" Height="568"/>
    <Image Name="Server Select/loginb_a" XPos="1657" YPos="1099" Width="199" Height="36"/>
    <Image Name="Server Select/loginb_h" XPos="1713" YPos="1219" Width="199" Height="36"/>
    <Image Name="Server Select/loginb_n" XPos="1335" YPos="1418" Width="203" Height="40"/>
    <Image Name="Server Select/loginb_un" XPos="1729" YPos="1277" Width="199" Height="36"/>
    <Image Name="Server Select/logo" XPos="935" YPos="851" Width="690" Height="152"/>
    <Image Name="Server Select/right_border_texture" XPos="1685" YPos="183" Width="17" Height="568"/>
    <Image Name="Server Select/table_mouse_hover_row" XPos="873" YPos="1418" Width="440" Height="25"/>
    <Image Name="Server Select/table_rail" XPos="1724" YPos="183" Width="9" Height="514"/>
    <Image Name="Server Select/table_row" XPos="873" YPos="1361" Width="450" Height="35"/>
    <Image Name="Server Select/table_scroll" XPos="1820" YPos="596" Width="10" Height="27"/>
    <Image Name="Server Select/top_border_effect" XPos="11" YPos="11" Width="1920" Height="76"/>
    <Image Name="Server Select/vertical_divider" XPos="1755" YPos="183" Width="1" Height="510"/>
    <Image Name="Server Select/whole_merge" XPos="11" YPos="183" Width="540" Height="667"/>
</Imageset>
